body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #e1ded7;
    color:#333333;
}

.navbar {
    background: #fdfeff;
    color: #566777;
    font-family: 'Montserrat', sans-serif;
}

.nav-link,
.navbar-brand {
    color: #566777;
    cursor: pointer;
}

.nav-link {
    background: #fdfeff;
    color: #566777;
    font-family: 'Montserrat', sans-serif;
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

#education {
    height: auto;
    margin-top: -30px;
    padding-top: 60px;
    font-size: 19px;
    line-height: 34px;

}

.inner {
    max-width: 1024px;
    margin: 0 auto;
}
.section {
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.3em;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #566777;
    font-size: 18px;
    text-transform: uppercase;
}

