body {
    padding: 0;
    margin: 0;
    background: #f4ebe6;
}

.navbar {
    background: #e1ded7;
    color: #566777;
    font-family: 'Montserrat', sans-serif;
}

.nav-link,
.navbar-brand {
    color: #566777;
    cursor: pointer;
}

.nav-link {
    background: #e1ded7;
    color: #566777;
    font-family: 'Montserrat', sans-serif;
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}
