body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #e1ded7;
    color:#333333;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

.navbar {
    background: #ecf2f8;
    color: #566777;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.nav-link,
.navbar-brand {
    color: #566777;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

.nav-link {
    background: #ecf2f8;
    color: #566777;
    font-family: 'Montserrat', sans-serif;
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
}

.right {
    float: right;
}

.hello-world {
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
}

.desc-right {
    color: #ecf2f8;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.15em;
    font-size: 19px;
    padding-left: 20px;
    margin-top: 30px;
}

img.my-pic {
    float: left;
    flex-basis: 40%;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    height: 474px;
    width: 300px;
}

.description { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 50px;
    font-size: 22px;
    line-height: 34px;
    background-color: #4b5598; 
    color: #ecf2f8;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

#education {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
    padding-top: 60px;
    font-size: 19px;
    line-height: 34px;
}

.section {
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.3em;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #566777;
    font-size: 18px;
    text-transform: uppercase;
}

#experience {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-top: 60px;
    font-size: 19px;
    line-height: 34px;
}

#projects {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-top: 60px;
    font-size: 19px;
    line-height: 34px;
}

.project-box {
    background-color: #f4ebe6;
    color: #566777;
    transition: 0.5s ease; 
}

.project-box:hover {
    opacity: 0.4;
    text-decoration: none;
}

#activities {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-top: 60px;
    font-size: 19px;
    line-height: 34px;
}

#skills {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-top: 60px;
    font-size: 19px;
    line-height: 34px;
}

.contact-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
    letter-spacing: 5px;
    background-color: #566777;

}